.header{
    color: white;
    width: 100%;
}
.buttonDash{
    color: white !important;
    background-color: #344a67 !important;
    border: none;
    border-radius: 2px;
    width: 80%;
    height: 65%;
    font-weight: 650;
    padding: 4px 15px;
}
#compassIcon{
    font-size: 20px;
}
#bellIcon{
    font-size: 22px; 
    color: #3e5372;   
    margin-top: 22px;
}
.dropdown{
    margin-left: 15px;
}
#userIcon{
    font-size: 27px;
}